{% extends "base.html.twig" %}
{% block title %} {{ 'edit.profile' | trans }} {% endblock %}

{% block body %}
<div class="container mt-3">
<h3>{{ 'edit.profile' | trans }}</h3>
{{ form_start(form) }}
<div class="form-error">
    <span>{{ form_errors(form) }}</span>
</div>
    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_label(form.username, '', {'label_attr': {'class': "col-sm-2 col-form-label"}}) }}
        </div>
        <div class="col-sm-8">
            {{ form_widget(form.username) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            {{ form_label(form.email, '', {'label_attr': {'class': "col-sm-2 col-form-label"}}) }}
        </div>
        <div class="col-sm-8">
            {{ form_widget(form.email) }}
        </div>
    </div>
    {{ form_widget(form.changePassword) }}
    <div id="showPassword">
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.currentPassword, '', {'label_attr': {'class': "col-form-label"}}) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.currentPassword) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.plainPassword.first, '', {'label_attr': {'class': "col-form-label"}}) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.plainPassword.second, '', {'label_attr': {'class': "col-form-label"}}) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'save' | trans }}</button>
{{ form_end(form) }}
</div>
{% endblock %}

{% block js %}
$(document).ready(function () {
    function setShowPassword() {
            if($("#user_changePassword")[0].checked) {
                $('#showPassword').css("display", "block");
                $('#user_currentPassword').prop('required', 'required');
                $('#user_plainPassword_first').prop('required', 'required');
                $('#user_plainPassword_second').prop('required', 'required');
            } else {
                $('#showPassword').css("display", "none");
                $('#user_currentPassword').prop('required', false);
                $('#user_plainPassword_first').prop('required', false);
                $('#user_plainPassword_second').prop('required', false);
            }
        }

    setShowPassword();

    $("#user_changePassword").change(function() {setShowPassword()})
})
{% endblock %}