<h1>{{ "mail.confirm.title" | trans }}</h1>

<p>
    {{ "mail.confirm.content" | trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ "mail.confirm.subject" | trans }}</a>.
    {{ "link.expire" | trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>{{ "mail.confirm.end" | trans }}</p>
