{% extends 'base.html.twig' %}

{% block title %}{{ 'register.text' | trans }}{% endblock %}

{% block body %}
<div class="row index">
    <div class="registration col login align-self-center">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
        {{ form_start(registrationForm) }}
        <div class="row">
	        <h3 class="col mb-3 font-weight-normal">{{ 'register.text' | trans }}</h3>
            <div class="col mt-1 text-right">
            {% if app.request.locale == "fr" %}
                {% include "switchLocale.html.twig" with {"locale": "fr", "new":"en"} %}
            {% else %}
                {% include "switchLocale.html.twig" with {"locale": "us", "new":"fr"} %}
            {% endif %}
            </div>
        </div>
            {% if formErrors|length > 0 %}
            <div class"alert alert-danger">
                <ul>
                {% for error in formErrors %}
                    <li class="{{ error.cause.constraint.payload.severity ?? '' }}">{{ error.message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn btn-lg btn-block btn-dark">{{ 'register.button' | trans }}</button>
        {{ form_end(registrationForm) }}

        <div class="right">
            <span class="font-italic"> {{ "register.already" | trans }}</span> <a class="text-dark" href="{{ path('index') }}">{{ "login.button" | trans }}</a>
        </div>
        <span class="footer-log center">© 2021 - DMP</span>
    </div>
    <div class="col welcome">
        WELCOME ET BIENVENUE
    </div>
</div>
{% endblock %}
