{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.check_email.title' | trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset_password.check_email.content' | trans }}
        {{ 'link.expire' | trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'reset_password.check_email.not_received' | trans({'%link%': '<a href="' ~ path('app_forgot_password_request') ~ '"> ' ~ 'link.resend'|trans ~ '</a>'}) | raw }} </p>
{% endblock %}