<div class="modal fade" id="editCommentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="editCommentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
            </div>
            <div class="modal-body">
                {{ form_start(form, { 'action': path('app_admin_editcomment', {'id': comment.id }) }) }}
                {{ form_row(form.content) }}
                <div class="text-right align-self-center col">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel' | trans }}</button>
                    <button type="submit" class="btn btn-danger modal-submit">{{ 'yes' | trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>