<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BooksProject{% endblock %}</title>
        {# Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        <script>
            {% block js %}{% endblock %}
        </script>
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
<nav class="navbar navbar-expand nav-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("home") }}">BooksProject</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{{ path("get_books") }}">{{"my.books"| trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("add_book") }}">{{"book.new"| trans }}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{app.user.username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path("edit_user") }}">{{"edit.profile"| trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path("app_logout") }}">{{ "logout"| trans }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      {# {% else %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{{ path("app_login") }}">{{"login" | trans }}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ path("app_register") }}">{{"register" | trans }}</a>
        </li>
      </ul> #}
        
    </div>
</nav>
      {% endif %}

        <div class="container-fluid {{ app.user ? 'app' :'login' }}">
        {% block body %}{% endblock %}
        </div>
        {% if app.user %}
          <footer class="footer">
          <div class="container">BooksProject - Delphine Martinez Parra - 2021</div>
        </footer>
        {% endif %}
        
    </body>
</html>
