<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BooksProject{% endblock %}</title>
        {# Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        <script>
            {% block js %}{% endblock %}
        </script>
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
<nav class="navbar navbar-expand nav-color">
  <a class="navbar-brand" href="{{ path("home") }}">BooksProject</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{{ path("get_books") }}">{{"my.books" | trans }}</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ path("authors") }}">{{"my.authors" | trans }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path("add_book") }}">{{"book.new" | trans }}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
    {% if app.request.locale == "fr" %}
      <a class="nav-link dropdown-toggle" href="" id="switchLocale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="flag-icon flag-icon-fr"></i>
      </a>
      <div class="dropdown-menu locale" aria-labelledby="switchLocale">
          <a class="dropdown-item" href="{{ path("switchLocale", {_locale: 'en'}) }}"><i class="flag-icon flag-icon-us"></i></a>
      </div>
    {% else %}
      <a class="nav-link dropdown-toggle" href="" id="switchLocale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="flag-icon flag-icon-us"></i>
      </a>
      <div class="dropdown-menu locale" aria-labelledby="switchLocale">
          <a class="dropdown-item" href="{{ path("switchLocale", {_locale: 'fr'}) }}"><i class="flag-icon flag-icon-fr"></i></a>
      </div>
    {% endif %}
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{app.user.username}}
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{{ path("edit_user") }}">{{"edit.profile"| trans }}</a></li>
        <li><a class="dropdown-item" href="{{ path("app_logout") }}">{{ "logout"| trans }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </ul>
</nav>
    {% endif %}
    <div class="container-fluid {{ app.user ? 'app' :'login' }}">
    {% block body %}{% endblock %}
    </div>
    {% if app.user %}
      <footer class="footer">BooksProject - Delphine Martinez Parra - 2021</footer>
    {% endif %}
  </body>
</html>
