{% extends 'base.html.twig' %}

{% block title %}{{ 'book.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'book.new' | trans }}</h1>
<ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="isbn-tab0" data-toggle="tab" data-target="#isbn"
      type="button" role="tab" aria-controls="isbn" aria-selected="true">
      Isbn
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="at-tab0" data-toggle="tab" data-target="#at"
      type="button" role="tab" aria-controls="at" aria-selected="false">
      Author & Title
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent0">
  <div class="tab-pane fade show active" id="isbn" role="tabpanel" aria-labelledby="isbn-tab0">
    <div>
        {{ form_start(formIsbn) }}
            {{ form_widget(formIsbn) }}
            <button type="submit" class="btn btn-primary">{{ 'search' | trans }}</button>
        {{ form_end(formIsbn) }}
    </div>
  </div>
  <div class="tab-pane fade" id="at" role="tabpanel" aria-labelledby="at-tab0">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div style="padding-top:30px" class="panel-body" >
                {{ form_start(formBook) }}
                    {{ form_widget(formBook) }}
                    <button type="submit" class="btn btn-primary">{{ 'search' | trans }}</button>
                {{ form_end(formBook) }}
            </div>
        </div>
    </div>
  </div>

  <div>
  {% for book in gbooks %}
    <div class="card mb-3 p-4">
  <div class="row">
    <div class="col-md-4">{% if book.image %}
      <img src="{{ book.image }}" alt="{{ book.title }}" width="100">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }} - {{ book.author }} ({{ book.language }})</h5>
        <p class="card-text">{{ book.description|slice(0, 150) ~ '...' }}</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
  </div>
</div>
    

    
{% endblock %}
