{% extends 'base.html.twig' %}

{% block title %}
	{{ 'book.new' | trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'book.new' | trans }}</h1>
	<ul class="nav nav-tabs" id="myTab0" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link {{ not(selected) ? 'active' : ''}}" id="isbn-tab0" data-toggle="tab" data-target="#isbn" type="button" role="tab" aria-controls="isbn" aria-selected="true">
				Isbn
			</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link {{ selected ? 'active' : ''}}" id="at-tab0" data-toggle="tab" data-target="#at" type="button" role="tab" aria-controls="at" aria-selected="false">
				Author & Title
			</button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent0">
		<div class="tab-pane fade {{ not(selected) ? 'show active' : ''}}" id="isbn" role="tabpanel" aria-labelledby="isbn-tab0">
			<div>
				{{ form_start(formIsbn) }}
				{{ form_widget(formIsbn) }}
				<button type="submit" class="btn btn-dark">{{ 'search' | trans }}</button>
				{{ form_end(formIsbn) }}
			</div>
		</div>
		<div class="tab-pane fade {{ selected ? 'show active' : ''}}" id="at" role="tabpanel" aria-labelledby="at-tab0">
			<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">
					<div style="padding-top:30px" class="panel-body">
						{{ form_start(formBook) }}
						{{ form_widget(formBook) }}
						<button type="submit" class="btn btn-dark">{{ 'search' | trans }}</button>
						{{ form_end(formBook) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		{% for book in gbooks %}
			<div class="card mb-3 p-4">
				<div class="row">
					<div class="col-md-4">
						{% if book.image %}
							<img src="{{ book.image }}" alt="{{ book.title }}" width="100">
						{% endif %}
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ book.title }}
								-
								{{ book.author }}</h5>
							<p class="card-text">({{ book.language }})
								{{ book.description | slice(0, 150) ~ '...' }}</p>
							<p class="card-text">
								<button id="{{ book.isbn }}" class="book btn btn-small" onclick="chooseBook({{book.isbn}})">{{ "select" | trans }}</button>
								<small class="text-muted"></small>
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}


{% block js %}
	var formIsbn = $('#isbn_form');
	
	  function chooseBook(my_isbn) {
	    document.getElementById("g_book_isbn_isbn").value = my_isbn
	   document.getElementById('isbn_form').submit();
	    console.log(my_isbn)
	  }
{% endblock %}
