{% extends 'base.html.twig' %}
{% block title %} {{ 'my.books' | trans }} {% endblock %}
{% block body %}
  <h1 class="mt-5">
	<i class="bi bi-book"></i> {{ 'my.books' | trans }}
  </h1>
  <div class="container">
	<div class="row">
	  <div class="col-sm-2">{{ 'book.genre' | trans}}</div>
	  <div class="col-sm-3">{{ 'book.author' | trans }}</div>
	  <div class="col-sm-5">{{ 'book.title' | trans }}</div>
	  <div class="col-sm-1"></div>
	</div>
	{% for book in books %}
	  <div class="row">
		<div class="col-sm-2">{{ book.genre }}</div>
		<div class="col-sm-3">{{ book.author }}</div>
		<div class="col-sm-5">{{ book.title }}</div>
		<div class="col-sm-1"><a href="{{ path('edit_comment', {'id_book': book.id}) }}"><i class="bi bi-pencil-square"></i></a></div>
	  </div>
	{% endfor %}
  </div>
{% endblock %}
{# 
{% for comment in book.comments %}
		  <div class="col-sm">{{ comment.content }}</div>
		  <span style="color:#e6c315">
			{% for i in 0..4 %}
			  {% if i < comment.stars %}
				<i class="bi bi-star-fill"></i>
			  {% else %}
				<i class="bi bi-star"></i>
			  {% endif %}
			{% endfor %}
		  </span>
		{% endfor %}
 #}