{% extends "base.html.twig" %}
{% block title %}My {{author}}'s books{% endblock %}

{% block body %}
    <h1>My {{author}}'s books</h1>
    <div class="row">
        {% for book in books %}
            <div class="col book">
                <a href="{{ path('book_info', {'id': book.id }) }}"><img src="{{ book.image }}" alt="{{ book.title }}"/></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}