{% extends "base.html.twig" %}
{% block body %}

{% if not(app.user.isVerified) %}
  Confirm your email. If you didn't receive the email: <a href="{{ path('send_conf_email') }}">resend mail</a>
{% endif %}

  <div class="container books">
    <h2 class="mt-3"><i class="bi bi-book"></i>{{ 'my.books' | trans }}</h2>
	{% for book in books %}
	  <div class="row center mt-3">
      <div class="col-sm-2 center cover">
        <a href="{{ path('book_info', {'id': book.id}) }}">
          <img src="{{ book.image ? book.image : asset('build/images/no_cover.svg') }}" 
            title="{{ book.title }} {{ "book.by" | trans }} {{ book.author }}" 
            alt="{{ book.title }} {{ "book.by" | trans }} {{ book.author }}" width="50"/>
        </a>
      </div>
      <div class="col-sm-6">{{ book.author }} - {{ book.title }}</div>
      <div class="col-sm-3">
        <a href="{{ path('edit_comment', {'id_book': book.id}) }}">
          <i class="bi bi-pencil-square"></i>
        </a>
      </div>
	  </div>
	{% endfor %}
  </div>

{#<div class="row">
   <div class="col-sm-6">
<div class="card">
  <h6 class="card-header">{{"my.genres" | trans }}</h6>
  <div class="card-body">
    {% for genre in genres %}
    {% if genre == "" %}
      {% set genre = "unknown" | trans %}
    {% endif %}
        <span class="card-text row px-4 t5"><a href="{{ path('byGenre', {'genre': genre}) }}">{{genre}}</a></span>
    {% endfor %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="#" class="btn btn-link btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
 </div> 
  <div class="col-sm-6">
<div class="card border-dark">
  <h6 class="card-header border-dark">{{"my.authors" | trans }}</h6>
  <div class="card-body">
    {% for author in authors %}
        <span class="card-text row px-4 t5"><a href="{{ path('byAuthor', {'author': author}) }}">{{author}}</a></span>
    {% endfor %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="#" class="btn btn-link btn-sm">Go somewhere</a>
    </div>
  </div>
</div>
 </div>
</div>

</div>#}
{% endblock %}