{% extends "base.html.twig" %}
{% block body %}

{% if not app.user.isVerified %}
<div class="alert alert-warning mt-3 pt-0" role="alert">
<i class="bi bi-exclamation-triangle-fill"></i>
<span>{{ 'mail.confirm.confirm' | trans }} <a href="{{ path('send_conf_email') }}">{{ 'mail.confirm.resend' | trans }}</a>.</span>
</div>
{% endif %}
<div>
<a href="{{ path("add_book") }}" class="btn"><i class="bi bi-plus-circle"></i> {{ 'book.new' | trans }}</a>
<a href="{{ path("authors") }}" class="btn"><i class="bi bi-file-person"></i> {{ 'my.authors' | trans }}</a>
</div>
{% if books %}
  <div class="container books">
    <div class="heading">
      <h2 class="mt-3 mb-0 pb-0"><i class="bi bi-book"></i> {{ 'my.5last_books' | trans }}</h2>
      <h6 class="text-right"><a href="{{ path('get_books') }}">{{ 'see_more' | trans }}</a></h6>
    </div>
    {% include "books/list_grid.html.twig" with {'books': books, 'page': "home"} %}
  </div>
{% endif %}
{% endblock %}